In [6]:
import requests,zipfile
import io

In [24]:
# Ë≥áÊñô ETL ÂáΩÂºèÂ∫´ 
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

## 8-2 ÔºöÂ§öÂÖÉÁ∑öÊÄßËø¥Ê≠∏

### Ë≥áÊñôÂâçËôïÁêÜ

In [7]:
# ÂèñÂæóÊ±ΩËªäÂÉπÊ†ºË≥áÊñô
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
res = requests.get(url).content

In [25]:
# Áî®dataframeËÆÄÂèñË≥áÊñô
auto = pd.read_csv(io.StringIO(res.decode('utf-8')), header = None)

In [26]:
# Ë®≠ÂÆöÊ¨Ñ‰ΩçÂêçÁ®±
auto.columns =['symboling','normalized-losses','make','fuel-type' ,'aspiration','num-of-doors',
                            'body-style','drive-wheels','engine-location','wheel-base','length','width','height',
                            'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore',
                            'stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [30]:
print('Ê±ΩËªäË≥áÊñôÁöÑÂΩ¢Âºè:{}'.format(auto.shape))

Ê±ΩËªäË≥áÊñôÁöÑÂΩ¢Âºè:(205, 26)

In [27]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [31]:
# Áî®price‰ª•Â§ñÁöÑÂÄºÂéªÈ†êÊ∏¨price
auto['price'].describe()

count     205
unique    187
top         ?
freq        4
Name: price, dtype: object

In [39]:
auto[['horsepower','width','height']].head()

  horsepower  width  height
0        111   64.1    48.8
1        111   64.1    48.8
2        154   65.5    52.4
3        102   66.2    54.3
4        115   66.4    54.3

In [42]:
auto_temp = auto[['price','horsepower','width','height']]

In [44]:
# Á¢∫Ë™çÁï∞Â∏∏ÂÄº„ÄåÔºü„Äç
auto_temp.isin(['?']).sum()

price         4
horsepower    2
width         0
height        0
dtype: int64

In [45]:
# Â∞á?Âèñ‰ª£ÁÇ∫NaNÔºå‰∏¶Âà™Èô§Â∞çÊáâÁöÑÂàó
auto_temp = auto_temp.replace('?',np.nan).dropna()
print('Ê±ΩËªäË≥áÊñôÁöÑÂΩ¢Âºè:{}'.format(auto_temp.shape))

Ê±ΩËªäË≥áÊñôÁöÑÂΩ¢Âºè:(199, 4)

In [46]:
# Ë≥áÊñôÂûãÂà•Á¢∫Ë™ç 
auto_temp.dtypes

price          object
horsepower     object
width         float64
height        float64
dtype: object

In [47]:
# ËΩâÊèõÊàêÊï∏ÂÄºÂûã
auto_temp = auto_temp.assign(price = pd.to_numeric(auto_temp.price))
auto_temp = auto_temp.assign(horsepower = pd.to_numeric(auto_temp.horsepower))

In [48]:
auto_temp.dtypes

price           int64
horsepower      int64
width         float64
height        float64
dtype: object

### Áõ∏ÈóúÊÄßÁ¢∫Ë™ç : Ê≥®ÊÑèÂ§öÂÖÉÂÖ±Á∑öÊÄß

In [49]:
auto_temp.corr()

               price  horsepower     width    height
price       1.000000    0.810533  0.753871  0.134990
horsepower  0.810533    1.000000  0.615315 -0.087407
width       0.753871    0.615315  1.000000  0.309223
height      0.134990   -0.087407  0.309223  1.000000

### Ê®°ÂûãÂª∫ÊßãÔºÜË©ï‰º∞

In [51]:
!pipenv install scikit-learn

Installing scikit-learn...
Adding scikit-learn to Pipfile's [packages]...
‚úî Installation Succeeded
Pipfile.lock (0f3fea) out of date, updating to (da1264)...
Locking [dev-packages] dependencies...
Locking [packages] dependencies...
Building requirements...
Resolving dependencies...
‚úî Success!
Updated Pipfile.lock (da1264)!
Installing dependencies from Pipfile.lock (da1264)...
  üêç   ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ‚ñâ 0/0 ‚Äî 00:00:00

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [53]:
X = auto_temp.drop('price', axis=1)
y = auto_temp['price']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

In [55]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [57]:
# Ê±∫ÂÆö‰øÇÊï∏
print('Ê±∫ÂÆö‰øÇÊï∏(train):{:.3f}'.format(model.score(X_train,y_train)))
print('Ê±∫ÂÆö‰øÇÊï∏(test):{:.3f}'.format(model.score(X_test,y_test)))

Ê±∫ÂÆö‰øÇÊï∏(train):0.733
Ê±∫ÂÆö‰øÇÊï∏(test):0.737

In [58]:
#Ëø¥Ê≠∏‰øÇÊï∏ËàáÊà™Ë∑ù
print('\nËø¥Ê≠∏‰øÇÊï∏\n{}'.format(pd.Series(model.coef_, index=X.columns)))
print('Êà™Ë∑ù: {:.3f}'.format(model.intercept_))

Ëø¥Ê≠∏‰øÇÊï∏
horsepower      81.651078
width         1829.174506
height         229.510077
dtype: float64
Êà™Ë∑ù: -128409.046

## 8-3ÔºöÈÇèËºØÂõûÊ≠∏

In [59]:
# ÂèñÂæóÊàê‰∫∫Ë≥áÊñô
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
res = requests.get(url).content

adult = pd.read_csv(io.StringIO(res.decode('utf-8')), header=None)
adult.columns =['age','workclass','fnlwgt','education','education-num','marital-status',
                             'occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week',
                             'native-country','flg-50K']
print('Ë≥áÊñôÁöÑÂûãÂºè:{}'.format(adult.shape))
print('ÈÅ∫Â§±ÁöÑÊï∏Èáè:{}'.format(adult.isnull().sum().sum()))

adult.head()

Ë≥áÊñôÁöÑÂûãÂºè:(32561, 15)
ÈÅ∫Â§±ÁöÑÊï∏Èáè:0

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,flg-50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

 ### È†êÊ∏¨ÁõÆÊ®ôÊî∂ÂÖ•ÊòØÂê¶Ë∂ÖÈÅé‰∫îËê¨ÂÖÉ (50K)

In [61]:
adult.groupby('flg-50K').size()

flg-50K
 <=50K    24720
 >50K      7841
dtype: int64

In [62]:
# Ë≥áÊñôËΩâÊèõ
adult['fin_flg'] = adult['flg-50K'].map(lambda x:1 if x == ' >50K' else 0)
adult.groupby('fin_flg').size()

fin_flg
0    24720
1     7841
dtype: int64

### Ê®°ÂûãÂª∫ÊßãËàáË©ï‰º∞

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = adult[['age','fnlwgt','education-num','capital-gain','capital-loss']]
y = adult['fin_flg']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)


model = LogisticRegression()
model.fit(X_train,y_train)

print('Ê≠£Á¢∫Áéá(train):{:.3f}'.format(model.score(X_train, y_train)))
print('Ê≠£Á¢∫Áéá(test):{:.3f}'.format(model.score(X_test, y_test)))

Ê≠£Á¢∫Áéá(train):0.797
Ê≠£Á¢∫Áéá(test):0.798

In [64]:
model.coef_

array([[-1.18545968e-02, -4.37932054e-06, -2.77432658e-03,
         3.27384955e-04,  7.53237842e-04]])

In [65]:
np.exp(model.coef_)

array([[0.98821539, 0.99999562, 0.99722952, 1.00032744, 1.00075352]])

### Ê®ôÊ∫ñÂåñËÆäÊï∏

In [66]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

X = adult[['age','fnlwgt','education-num','capital-gain','capital-loss']]
y = adult['fin_flg']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

# Ê®ôÊ∫ñÂåñËôïÁêÜ
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

model = LogisticRegression()
model.fit(X_train_std,y_train)

print('Ê≠£Á¢∫Áéá(train):{:.3f}'.format(model.score(X_train_std, y_train)))
print('Ê≠£Á¢∫Áéá(test):{:.3f}'.format(model.score(X_test_std, y_test)))

Ê≠£Á¢∫Áéá(train):0.811
Ê≠£Á¢∫Áéá(test):0.810

## 8-3ÔºöLasso / Ridge (ÂÖ∑ÊúâÊ≠£Ë¶èÂåñÁöÑËø¥Ê≠∏)

In [68]:
auto_temp.head()

   price  horsepower  width  height
0  13495         111   64.1    48.8
1  16500         111   64.1    48.8
2  16500         154   65.5    52.4
3  13950         102   66.2    54.3
4  17450         115   66.4    54.3

In [69]:
# Ridge
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

X = auto_temp.drop('price', axis=1)
y = auto_temp['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

linear = LinearRegression()
ridge = Ridge(random_state=0)

for model in [linear, ridge]:
    model.fit(X_train,y_train)
    print('{}(train):{:.6f}'.format(model.__class__.__name__ , model.score(X_train,y_train)))
    print('{}(test):{:.6f}'.format(model.__class__.__name__ , model.score(X_test,y_test)))

LinearRegression(train):0.733358
LinearRegression(test):0.737069
Ridge(train):0.733355
Ridge(test):0.737768

In [70]:
# Lasso
from sklearn.linear_model import LinearRegression, Lasso

X = auto_temp.drop('price', axis=1)
y = auto_temp['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

models = {
    'linear': LinearRegression(),
    'lasso1':  Lasso(alpha=1.0, random_state=0),
    'lasso2':  Lasso(alpha=200.0, random_state=0)
}

scores = {}
for model_name, model in models.items():
    model.fit(X_train,y_train)
    scores[(model_name, 'train')] = model.score(X_train, y_train)
    scores[(model_name, 'test')] = model.score(X_test, y_test)

pd.Series(scores).unstack()

            test     train
lasso1  0.737107  0.733358
lasso2  0.743235  0.733082
linear  0.737069  0.733358